.form {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // margin: 50px;
    // align-self: flex-start;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 125px 10px;
    padding: 30px;

    // .form__title
    &__title {
        text-align: center;
        grid-row: 1;
        font-size: 28px;
    }

    // .form__inputs
    &__inputs {
        display: flex;
        flex-direction: column;
    }

    // .form__input
    &__input {
        height: 40px;
        margin-bottom: 10px;
        padding-left: 10px;
        grid-row: 2;

        &:last-of-type{
            grid-row: 3;
        }
    }

    // .form__btn-submit
    &__btn-submit {
        height: 45px;
        font-size: 18px;
        color: white;
        border-radius: 5px;
        border: none;
        box-shadow: none;
        cursor: pointer;
        background-color: rgb(12, 117, 187);

        grid-row: 4;

        &:hover {
            background-color: rgb(8, 105, 170)
        }
    }
}